/*For admin*/
.admin-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.admin-userlist {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.user-info {
  flex-grow: 1;
}

.role-selection {
  margin-left: 20px;
}


/*For login*/

.login-theme{
    
  display:flex;
  
  justify-content: center;
  align-items: center; 
  height: 101vh;
  width: 101vw;
  margin : -1%;
  background-color: gray;
}

.register-box {
  display:flex;
  flex-direction: column;
  align-items: center;
   
  background-color: hsl(212, 45%, 89%);
  border-radius: 8px;
  height: 500px;
  width: 700px;
}

.login-input{
  width: 80%;
  height: 10%;
  margin-bottom: 10px;
}

.login-button{
  width: 80%;
  height: 10%;
  margin-bottom: 10px;
}


/*For signup*/
.signup-theme{
    
  display:flex;
  justify-content: center;
  align-items: center; 

  height: 101vh;
  width: 101vw;
  margin : -1%;
  background-color: gray;
}

.register-box {
  display:flex;
  flex-direction: column;
  align-items: center;
   
  background-color: hsl(212, 45%, 89%);
  border-radius: 8px;
  height: 500px;
  width: 700px;
}

.signup-input{
  width: 80%;
  height: 10%;
  margin-bottom: 10px;
}

.signup-button{
  width: 80%;
  height: 10%;
  margin-bottom: 10px;
}

