/*For admin*/
.admin-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-left: 450px;
  margin-top: 200px;
  width: 1000px;
}

.admin-userlist {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.user-info {
  flex-grow: 1;
}

.role-selection {
  margin-left: 20px;
}


/*For login*/

.login-theme{
    
  display:flex;
  
  justify-content: center;
  align-items: center; 
  height: 101vh;
  width: 101vw;
  margin : -1%;
  background-color: hsl(212, 45%, 89%);
}

.register-box {
  display:flex;
  flex-direction: column;
  align-items: center;
   
  background-color: hsl(212, 45%, 89%);
  border-radius: 8px;
  height: 300px;
  width: 400px;
  padding: 50px 20px;
}

.login-input{
  width: 80%;
  height: 10%;
  margin-bottom: 10px;
}

.login-button{
  width: 80%;
  height: 10%;
  margin-bottom: 10px;
  margin-top: 20px;
}


/*For signup*/
.signup-theme{
    
  display:flex;
  justify-content: center;
  align-items: center; 

  height: 101vh;
  width: 101vw;
  margin : -1%;
  background-color: white;
}

.register-box {
  display:flex;
  flex-direction: column;
  align-items: center;
   
  background-color: white;
  border-radius: 8px;
  height: 500px;
  width: 700px;
}

.signup-input{
  width: 80%;
  height: 10%;
  margin-bottom: 10px;
}

.signup-button{
  width: 50%;
  height: 10%;
  margin-bottom: 20px;
  margin-top: 20px;
}
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

